
<footer id="sticky-footer" class="fixed-bottom mt-4 flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; 
      <%= link_to 'scrummingit.co.uk', "http://scrummingit.co.uk", class: "text-white-50" %>
    </small>
  </div>
</footer>

