
      <div class="my-3 text-center">
        <% if @user.images.attached? %>
          <% @user.images.each do |image| %>
            <%= image_tag(image, height: 100) %>
            <%= link_to "Remove", remove_image_user_path(image), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <br />
          <% end %>
        <% end %>
      </div>