<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= item.key %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= item.project_id %>
  </p>

</div>
