<% content_for :title, "Editing item" %>

<h1>Editing item</h1>

<% proj_id = params[:project_id].to_i %>

<%= render "form", item: @item, project_id: proj_id %>

<br>

<div>
  
  <div>
    <%= link_to "Show this item", @item %> |
    <%= link_to "Back to Project", organization_project_path(@org_active, @item.project_id) %>
  </div>

</div>
