
<% content_for :title, "New item" %>

<% proj_id = params[:project_id].to_i %>

<h1>New item</h1>

<% # debugger %>
<%= render "form", item: @item, project_id: proj_id %>

<br>

<div>
  <%= link_to "Back to Project", organization_project_path(@org_active, proj_id) %>
</div>
