
<% content_for :title, "New item" %>

<h1 class="text-center mt-4 mb-0 text-white">New Item</h2>

<% # debugger %>
<%= render "form", item: @item, project_id: @item.project_id %>

<div class="d-flex flex-row justify-content-center mt-4">
  <%= link_to organization_project_path(@org_active, @item.project_id) do %>
    <%= fa_icon "list 2x", class: "mt-1 mx-2" %>
  <% end %>
</div>
