

<div class="container">

  <% content_for :title, "New organization" %>

  <h1 class="text-center mt-4 mb-3 text-white">New organization</h1>

  <%= render "form", organization: @organization %>

  <br>

</div>