<div id="<%= dom_id artifact %>">
  <div class="card card-header my-1" style="width: 19rem;">
    <div class="card-body">
      <%= image_tag(artifact.artimg, width: 239, class: "mcard-img-top x-auto d-block", alt:"Card image cap") %>

      <h5 class="card-title mt-2"><%= artifact.name %></h5>
      <p class="card-text"><%= artifact.picture %></p>
    </div>
  </div>
</div>


